@font-face {
    font-family: SupercellFont;
    src: url(fonts/supercell-magic-webfont.ttf) format('truetype'),
    	 url(fonts/supercell-magic-webfont.woff) format('woff');
}

.card:hover {
	border: 2px solid red;
	margin: -2px;
	border-radius: 5px;
	cursor: pointer;
}

.player-card-pool {
	max-width: 24vw;
}

.draft-pool {
	min-height: 50vh;
	margin-bottom: 4vh;
}

.player-edit-name-input {
	height: 20px;
	margin: 15px 0;
}

.card {
	width: 6vw;
}

.player-card-pool img {
	width: 4.5vw;
}

.player-name {
	font-size: 20px;
	font-family: SupercellFont;
}